In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
data_arr = []
with open("IN.txt") as f:
    for row in f:
        data_arr.append(row.split("\t")[:-1])

In [3]:
data_arr[:5]

[['1142043', '173652', 'IN', 'AF3', '0', '256'],
 ['1142044', '173652', 'IN', 'AF4', '0', '256'],
 ['1142045', '173652', 'IN', 'T7', '0', '256'],
 ['1142046', '173652', 'IN', 'T8', '0', '256'],
 ['1142047', '173652', 'IN', 'PZ', '0', '256']]

In [4]:
values_arr = []
with open("IN.txt") as f:
    for row in f:
        values_arr.append(row.split("\t")[-1])

In [14]:
ar = values_arr[0][:-1].split(",")
ar = list(map(float, ar))
ar = sorted(ar)

256

In [16]:
# avg_val = []
median_val = []
# for val in values_arr:
#     ans = val[:-1].split(",")
#     ans = list(map(float, ans))
#     avg_val.append((sum(ans)/len(ans)))

for val in values_arr:
    ans = val[:-1].split(",")
    ans = list(map(float, ans))
    ans = sorted(ans)
    median_val.append(ans[len(ans)//2])

In [18]:
# len(avg_val)
len(median_val)

65250

In [19]:
# avg_val = np.array(avg_val)
median_val = np.array(median_val)
data_arr = np.array(data_arr)

In [20]:
median_val = median_val.reshape(-1, 1)

In [21]:
final_arr = np.append(data_arr, median_val, axis = 1)

In [22]:
final_arr.shape

(65250, 7)

In [23]:
final_arr[:10]

array([['1142043', '173652', 'IN', 'AF3', '0', '256', '4256.923076'],
       ['1142044', '173652', 'IN', 'AF4', '0', '256', '4164.102564'],
       ['1142045', '173652', 'IN', 'T7', '0', '256', '4261.538461'],
       ['1142046', '173652', 'IN', 'T8', '0', '256', '4197.948717'],
       ['1142047', '173652', 'IN', 'PZ', '0', '256', '4198.974358'],
       ['1142048', '173653', 'IN', 'AF3', '6', '252', '4286.666666'],
       ['1142049', '173653', 'IN', 'AF4', '6', '252', '4272.307692'],
       ['1142050', '173653', 'IN', 'T7', '6', '252', '4272.307692'],
       ['1142051', '173653', 'IN', 'T8', '6', '252', '4213.333333'],
       ['1142052', '173653', 'IN', 'PZ', '6', '252', '4213.846153']],
      dtype='<U32')

In [24]:
sub_arr = np.delete(final_arr, 0, 1)
final_arr = np.delete(sub_arr, 1, 1)

In [25]:
final_arr

array([['173652', 'AF3', '0', '256', '4256.923076'],
       ['173652', 'AF4', '0', '256', '4164.102564'],
       ['173652', 'T7', '0', '256', '4261.538461'],
       ...,
       ['186701', 'T7', '0', '257', '4233.333333'],
       ['186701', 'T8', '0', '257', '4215.384615'],
       ['186701', 'PZ', '0', '257', '4220.51282']], dtype='<U32')

In [26]:
df = pd.DataFrame(final_arr, columns=["Event", "Channel", "Digit", "Value Count", "Avg_value"])

In [27]:
df.head()

    Event Channel Digit Value Count    Avg_value
0  173652     AF3     0         256  4256.923076
1  173652     AF4     0         256  4164.102564
2  173652      T7     0         256  4261.538461
3  173652      T8     0         256  4197.948717
4  173652      PZ     0         256  4198.974358

In [28]:
df.to_csv("med_data.csv", index=False)